.item {
    display: flex;
    font-family: 'Inter';
    font-style: normal;
    
}

.li-item {
    height: 281px;
    overflow: hidden;
    margin-bottom: 30px;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.15);
    width: 454px;
}

.posterTitle {
    padding-left: 20px;
}

.posterImage {
    width: 183px;
    height: 281px;
}

h1 {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
}

.movieDate {
    font-size: 12px;
    line-height: 22px;
    color: #827E7E;
}

.genre {
    font-size: 12px;
line-height: 15px;
color: rgba(0, 0, 0, 0.65);
}

.description {
    font-size: 12px;
    line-height: 22px;
}