html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    background-color: #F7F7F7;;
}

#root {
 width: 1010px;
 margin: auto;
 background-color: #FFFFFF;
 padding-top: 20px;
padding-left: 32px;
}